<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon/favicon-16x16.png">
    <title>Main Vocabulario</title>
    <link rel="stylesheet" href="./style.css">
    <script src="https://kit.fontawesome.com/ca767f7de3.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="root">
        <main class="app-container">
            <div class="nav">
                <i class="fa-solid fa-arrow-left"></i>
                <i class="fa-solid fa-user"></i>
            </div>
            <form class="search-bar">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="Traducir en Inglés">
            </form>
            <h2 class="title">¡Hola, Conejito!</h2>
                <!-- <label for="name" class="visually-hidden">Your Name</label>
                <input id="name" name="name" class="input" type="text" required minlength="3" placeholder="Name" value="danielSafonyan"> -->
                <button class="button button-primary">Practicar Vocabulario</button>
                <button class="button button-secondary">Mi Lista de Palabras</button>
            <!-- <a href="#" class="btn btn-secondary">Iniciar sesión</a> -->
        </main>
    </div>
</body>
</html>

<script>
    document.querySelector('form').addEventListener('submit', (e) => {
        e.preventDefault()
        const word = document.querySelector('input').value;
        const api = "./translation"
        const requestUrl = `${api}?word=${word}`
        fetch(requestUrl)
        .then(res => {
            console.log(res)
            window.location.href = res.url;
        })
    })
</script>