<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon/favicon-16x16.png">
    <title>Main Vocabulario</title>
    <link rel="stylesheet" href="./style.css">
    <script src="https://kit.fontawesome.com/ca767f7de3.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="root">
        <main class="app-container">
            <div class="nav">
                <i class="fa-solid fa-arrow-left"></i>
                <i class="fa-solid fa-user"></i>
            </div>
            <form class="add-word-form">
                <input type="text" name="baseWord" placeholder="Añade una palabra" required autocomplete="off">
                <input type="text" class="visually-hidden" name="wordDefinition" placeholder="Definición" required autocomplete="off">
                <input type="text" class="visually-hidden" name="wordTranslation" placeholder="Ejemplo" required autocomplete="off">
                <button class="visually-hidden"></button>
            </form>
            <h2 class="title">¡Hola, Conejito!</h2>
                <!-- <label for="name" class="visually-hidden">Your Name</label>
                <input id="name" name="name" class="input" type="text" required minlength="3" placeholder="Name" value="danielSafonyan"> -->
                <button class="button button-primary">Practicar Vocabulario</button>
                <button class="button button-secondary">Mi Lista de Palabras</button>
            <!-- <a href="#" class="btn btn-secondary">Iniciar sesión</a> -->
        </main>
    </div>
</body>
</html>

<script>
    const form = document.querySelector('form');
    const baseWord = document.querySelector('[name="baseWord"]');
    const wordDefinition = document.querySelector('[name="wordDefinition"]');
    const wordTranslation = document.querySelector('[name="wordTranslation"]');

    document.addEventListener('click', e => {
        const isForm = form.contains(e.target)
        if (isForm) {
            wordDefinition.classList.remove('visually-hidden')
            wordTranslation.classList.remove('visually-hidden')
        } else {
            wordDefinition.classList.add('visually-hidden')
            wordTranslation.classList.add('visually-hidden')
        }
    })

    form.addEventListener('submit', e => {
        e.preventDefault()
        const formData = new FormData(form)
        const baseWord = formData.get('baseWord').trim()
        const wordDefinition = formData.get('wordDefinition').trim()
        const wordTranslation = formData.get('wordTranslation').trim()

        const isEmpty = !(baseWord && wordDefinition && wordTranslation)

        if (isEmpty) {
            alert("Donde esta la palabra, definicion o ejemplo?");
            return
        }

        const newWord = {
            baseWord,
            wordDefinition,
            wordTranslation
        }

        const options = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({newWord: newWord})
        };

        console.log('Using POST method to add a new word to the user.', newWord)
        fetch('/addWord', options)
        .then(res => res.json())
        .then(data => {
            if (data.status === 200) {
                alert("Word was added.")
            } else {
                alert("Something went wrong!")
            }
            form.reset()
        })
        .catch(error => {
            console.error("Fail");
            console.error(error);
        });
    })
</script>