<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon/favicon-16x16.png">
    <title>Main Vocabulario</title>
    <link rel="stylesheet" href="./style.css">
    <script src="https://kit.fontawesome.com/ca767f7de3.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="root">
        <main class="app-container">
            <!-- <div class="nav">
                <i class="fa-solid fa-arrow-left"></i>
                <i class="fa-solid fa-user"></i>
            </div> -->
            <form class="add-word-form" id="add-word-form">
                <input type="text" name="baseWord" placeholder="Añade una palabra" required autocomplete="off">
                <input type="text" class="visually-hidden" name="wordDefinition" placeholder="Definición" required autocomplete="off">
                <input type="text" class="visually-hidden" name="wordExample" placeholder="Ejemplo" required autocomplete="off">
            </form>
            <button form="add-word-form" class="button addWordBtn visually-hidden">+</button>
            <h2 class="title">¡Hola, Conejito!</h2>
                <!-- <label for="name" class="visually-hidden">Your Name</label>
                <input id="name" name="name" class="input" type="text" required minlength="3" placeholder="Name" value="danielSafonyan"> -->
                <a href="./practiceWords" class="button button-primary">Practicar Vocabulario</a>
                <a href="./wordList" class="button button-secondary">Mi Lista de Palabras</a>
            <!-- <a href="#" class="btn btn-secondary">Iniciar sesión</a> -->
        </main>
    </div>
</body>
</html>

<script>
    const root = document.querySelector('#root')
    root.style.height = window.innerHeight
    const form = document.querySelector('form');
    const baseWord = document.querySelector('[name="baseWord"]');
    const wordDefinition = document.querySelector('[name="wordDefinition"]');
    const wordExample = document.querySelector('[name="wordExample"]');
    const addWordBtn = document.querySelector('.addWordBtn');
    const practiceWordsBtn = document.querySelector('[href="./practiceWords"]');
    
    practiceWordsBtn.addEventListener('click', e => {
        e.preventDefault()
        fetch(e.target.href)
        .then(res => {
            if (res.status === 200) { return window.location.assign(res.url) }
            return res.json()
        })
        .then(data => {
            if (data ) { alert(data.msg) }
        })
    })

    document.addEventListener('click', e => {
        const isForm = form.contains(e.target) || addWordBtn.contains(e.target)
        if (isForm) {
            wordDefinition.classList.remove('visually-hidden')
            wordExample.classList.remove('visually-hidden')
            addWordBtn.classList.remove('visually-hidden')
        } else {
            wordDefinition.classList.add('visually-hidden')
            wordExample.classList.add('visually-hidden')
            addWordBtn.classList.add('visually-hidden')
        }
    })

    form.addEventListener('submit', e => {
        e.preventDefault()
        addWordBtn.disabled = true
        addWordBtn.innerHTML = '<i class="fas fa-spinner fa-spin"></i>'
        const formData = new FormData(form)
        const baseWord = formData.get('baseWord').trim()
        const wordDefinition = formData.get('wordDefinition').trim()
        const wordExample = formData.get('wordExample').trim()

        const isEmpty = !(baseWord && wordDefinition && wordExample)

        if (isEmpty) {
            alert("Donde esta la palabra, definicion o ejemplo?");
            return
        }

        const newWord = {
            baseWord,
            wordDefinition,
            wordExample
        }

        const options = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({newWord: newWord})
        };

        console.log('Using POST method to add a new word to the user.', newWord)
        fetch('/addWord', options)
        .then(res => res.json())
        .then(data => {
            if (data.status === 200) {
                alert("Word was added.")
            } else {
                alert("Something went wrong!")
            }
            addWordBtn.disabled = false
            addWordBtn.innerHTML = '+'
            form.reset()
        })
        .catch(error => {
            console.error("Fail");
            console.error(error);
        });
    })
</script>