<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon/favicon-16x16.png">
    <title>Suggested Language Vocabulario</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div id="root">
        <main class="app-container">
            <h2 class="title">¡Hola!</h2>
            <h2 class="title">¿Quieres traducir al <%= displayedLanguage %>?</h2>
            <form class="form" action="./suggested-language" method="POST">
                <button class="button button-primary">Sí</button>
                <!-- <button class="button button-secondary">No</button> -->
            </form>
            <a href="../register" class="login-link">No</a>
        </main>
    </div>
</body>
</html>