:root {
  --main-color: #FFBA26;
  --primary-text-color: #242423;
  --main-bg-color: brown;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #FFEBE2;
}

#root {
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-weight: 700;
    font-size: 2rem;
    color: var(--primary-text-color);
}

.app-container {
    width: 90%;

}

.signup-form {
    display: flex;
    flex-direction: column;
}

.input {
    padding: 1em;
    background: #F7FCFF;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 300px;
    margin-bottom: 1em;
    text-indent: 0.5em;
    font-size: 1rem;
}

.button {
    padding: 1em;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 300px;
    margin-bottom: 0.5em;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 1rem;
}

.button-primary {
    background-color: var(--main-color);
}

.login-link {
    display: block;
    width: fit-content;
    margin: auto;
    color: var(--primary-text-color);
    text-decoration: none;
    padding-bottom: 0.1em;
    border-bottom: 1px solid;
}